<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('headcss', {}); %>
    <title>食肉狼博客详情</title>
    <style>
        .layui-card{
            border-radius: 15px;
            background-color:turquoise;
            margin: 30px 0px;
        }
        .layui-card-header,.layui-card-body{
            background-color:turquoise;
            border-radius: 15px;
            font-family: '楷体';
        }
        .layui-card-header{
            color: deeppink;
        }
        .layui-card-body{
            color: black;
        }
        .layui-card-body span{
            margin: 0px 15px;
            font-size: 18px;
        }
        .word{
            padding: 15px;
        }
        .chatu{
            text-align: center;
        }
        .chatu img{
            width: 200px;
            height: 200px;
            margin: 10px 20px;
        }
    </style>
</head>
<body class="layui-bg-black">
    <div class="layui-container">
        <a href="/"><%- include('logo', {}); %></a>
        <!-- 面板内容 -->
        <div class="layui-card">
            <div class="layui-card-header">
                <h1><%= data.title %></h1>
            </div>
            <div class="layui-card-body">
                <span>发布时间:<%= data.time %></span>
                <span>作者:<%= data.author %></span>
                <div class="word">
                    <%- data.content %>
                </div>
            </div>
        </div>
        <!-- 面板内容 end -->
    </div>
</body>
</html>