<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('headcss', {}); %>
    <title>食肉狼首页</title>
    <style>
      table tr{
        height: 50px;
      }
      .content a{
        color: white;
      }
      .content{
        line-height: 50px;
        display: inline-block;
        border: 1px solid white;
        border-radius: 15px;
        margin: 20px auto;
        padding: 20px;
      }
      .info{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
      .word{
        float: left;
        width: 100%;
        line-height: 25px!important;
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
      }
    </style>
</head>

<body class="layui-bg-black">
  <div class="layui-container">
    <a href="/"><%- include('logo', {}); %></a>
    <!-- 导航 -->
    <%- include('nav', {userName}); %>
    <!-- 导航 end-->
    <!-- 内容列表 -->
    <% data.blogList.map(item => { %>
      <div class="content">
        <ul>
          <li class="info">
            <a href="/blokInfo?_id=<%= item._id %>">
              <div><h1><%= item.title %></h1></div>
            </a>
            <a href="/blokInfo?_id=<%= item._id %>">
              <div>发布时间:<%= item.time %></div>
            </a>
            <a href="/blokInfo?_id=<%= item._id %>">
              <div>作者:<%= item.author %></div>
            </a>
            <div>
              <a href="/write?_id=<%= item._id %>&page=<%= data.currPage%>">
                <i class="layui-icon layui-icon-edit"></i> 
                修改
              </a>
              <a href="#">
                <i class="layui-icon layui-icon-delete"></i> 
                删除
              </a>
            </div>
          </li>
          <li class="word">
            <a href="/blokInfo?_id=<%= item._id %>"><%- item.content %></a>
          </li>
        </ul>
      </div>
    <% }) %>
    <!-- 内容列表 end -->
    <!-- 分页 -->
    <div class="layui-col-xs6">
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon layui-icon-left"></i>
      </button>
      <% for(let i = 1; i <= data.PagesTotle; i++){ %>
        <a href="/?page=<%=i%>" class="<%- data.currPage==i?'active':'' %>">
          <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="layui-icon">
              <%= i %>
            </i>
          </button>
        </a>
      <% } %>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon layui-icon-right"></i>
      </button>
    </div>
    <!-- 分页 end -->
  </div>
  
</body>

</html>