<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('headcss', {}); %>
    <title>食肉狼首页</title>
    <style>
      table tr{
        height: 50px;
      }
    </style>
</head>

<body class="layui-bg-black">
  <div class="layui-container">
    <a href="/"><%- include('logo', {}); %></a>
    <!-- 导航 -->
    <%- include('nav', {userName}); %>
    <!-- 导航 end-->
    <!-- 内容列表 -->
    <div class="layui-col-xs12">
      <table class="layui-table" lay-skin="line">
        <colgroup>
          <col width="150">
          <col width="200">
          <col width="100">
          <col width="500">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>标题</th>
            <th>发布时间</th>
            <th>作者</th>
            <th>内容</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% data.map(item => { %>
          <tr>
              <td>
                <a href="/blokInfo"><%= item.title %></a>
              </td>
              <td>
                <a href="/blokInfo"><%= item.date %></a>
              </td>
              <td>
                <a href="/blokInfo"><%= item.author %></a>
              </td>
              <td>
                <a href="/blokInfo"><%= item.content %></a>
              </td>
            <td>
              <a href="#">
                <i class="layui-icon layui-icon-edit"></i> 
                修改
              </a>
              <a href="#">
                <i class="layui-icon layui-icon-delete"></i> 
                删除
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- 内容列表 end -->
    <!-- 分页 -->
    <div class="layui-col-xs6">
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon layui-icon-left"></i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">1</i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">2</i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">3</i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon">4</i>
      </button>
      <button type="button" class="layui-btn layui-btn-sm layui-btn-primary">
        <i class="layui-icon layui-icon-right"></i>
      </button>
    </div>
    <!-- 分页 end -->
  </div>
  
</body>

</html>